#list1, #list2 { list-style-type: none; margin: 0; float: left; margin-right: 8px;
	background: #424242; padding: 2px; min-height: 120px; width: 100%; }
#list1 li, #list2 li { margin: 1px; padding: 2px; font-size: .8em; width: 100%; }