<!--
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at http://mozilla.org/MPL/2.0/.

 Author(s):
  - Andrew Wheeler <lordsatin@hotmail.com>
  - Alex Lopez  <kasvaca@gmail.com>
-->
{% extends "base.html" %}

{% block content %}
<div class="uk-card uk-card-default">
	<div class="uk-card-header">
		<span class="uk-card-title">
			404 Error
		</span>
	</div>
	<div class="uk-card-body">
		<p>The page or resource does not exist or you have insufficient permissions to access it.</p>
	</div>
</div>
{% endblock content %}