<!--
 This Source Code Form is subject to the terms of the Mozilla Public
 License, v. 2.0. If a copy of the MPL was not distributed with this
 file, You can obtain one at http://mozilla.org/MPL/2.0/.

 Author(s):
  - Andrew Wheeler <lordsatin@hotmail.com>
  - Alex Lopez  <kasvaca@gmail.com>
-->
<div class="uk-section-primary uk-preserve-color">
    <nav class="uk-navbar-container uk-navbar-transparent uk-padding-small">
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li>
                    <a href="\">
                        <img src="/static/img/logo.png" height="90px" width="220px" />
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>