{% extends 'base.htm' %}

{% block header %}
<style>
	#icons {
		width: 180px;
		height: 120px;
	}

	#icon_middle {
		font-size: 55px;
	}

	.middle_but {
		padding-top: 8px;
	}

	.middle_text {
		text-align: center;
		white-space: pre-wrap;
		margin-top: -8px;
		line-height: 1.5;
	}

	.middle_text2 {
		text-align: center;
		white-space: pre-wrap;
		margin-top: -8px;
	}

	.adjust1 {
		margin-left: -3px;
	}
</style>
{% endblock %}

{% block nav %}
<li class="uk-disabled"><a>Main Page</a></li>
{% endblock nav %}


{% block content %}
<form method="POST">
	<div class="uk-card uk-card-default">
		<div class="uk-card-header">
			<span class="uk-card-title">
				Report Type Selection
			</span>
		</div>
		<div class="uk-card-body">
			<div class="uk-flex-center uk-grid-small" uk-grid>
				<div>
					<a id="icons" href="{{ url_for('reports.single_discipline', dms_type=1) }}"
						class="uk-button uk-button-primary">
						<div class="middle_but">
							<i id="icon_middle" class="material-icons">photo</i>
							<div class='middle_text'>DMS</div>
						</div>
					</a>
				</div>
				<div>
					<a id="icons" href="{{ url_for('reports.single_discipline', dms_type=2) }}"
						class="uk-button uk-button-primary">
						<div class="middle_but">
							<i id="icon_middle" class="material-icons">photo</i>
							<div class='middle_text'>DMS Grouping</div>
						</div>
					</a>
				</div>
				<div>
					<a id="icons" href="{{ url_for('dte_reports.client_data') }}" class="uk-button uk-button-primary">
						<div class="middle_but">
							<i id="icon_middle" class="material-icons">photo_library</i>
							<div class='middle_text2 adjust1'>DTE</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</form>
{% endblock content %}